#myModal{
    position:absolute;
    min-height: 25rem;
    width: 35rem;
    background-color: rgba(189, 193, 198, 0.4);
    z-index:1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.modalEE {
    left: 0;
    top: 0;
    overflow: auto; /* Enable scroll if needed */
    opacity: 0.4;
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
body{
    color:white;
    background-color: #202124;
}
.form-control{
    width:4rem;
}